@import url('https://fonts.googleapis.com/css?family=Oswald|Poppins:300,400,700,900');
*{margin: 0; padding: 0}
body{
	background-image: url(login.jpg);
	background-size: cover;
	font-family:Poppins;
	padding-top: 10vh;
	width:100%;
	height: auto;
}

.loginpage {
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.form{
	position: absolute;
	z-index: 1;
	background-color: white;
	opacity: 0.6;
	max-width: 360px;
	top: 280px;
	left: 38%;
	padding: 45px;
	text-align: center;
}

.form input {
	font-family: "Roboto", sans-serif;
	background-color: #f2f2f2;
	width: 250px;
	height:30px;
	border: none;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
	margin-bottom: 15px;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: black;
	width: 250px;
	height:30px;
	border: 0;
	color: white;
	font-size: 14px;
	cursor:	pointer;
}

.form button:hover,.formbutton:active{
	background: red;
}

.form .message{
	margin: 15px 0 0;
	color: black;
	font-size: 12px;
	font-family:Arial;
}

.form .message a{
	color: red;
	text-decoration: none;
	font-size: 12px;
	font-family:Arial;
}

.form .register-form{
	display:none;

}

.logo {
    position: absolute;
    top: 50px;
    align-items: center;
    left:50px;
    height:150px;
    width:150px;
    
  }